<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "UMLPlus" 
       class = "UMLPlus.UMLPlusPackage"
       genModel = "model/UMLPlus123.genmodel" /> 
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="UMLPlus.diagram.UMLPlusApplication"
           name="OntoUML Editor">
        <property
              name="appName"
              value="OntoUML Editor">
        </property>
        <property
              name="aboutText"
              value="OntoUML Editor, developed by Alessander Botti Benevides as a graduation project in Computer Engineering.&#x0A;&#x0A;alessanderbotti@gmail.com&#x0A;Go Vegan!">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupMessageRect"
              value="7,252,445,20">
        </property>
        <property
              name="startupProgressRect"
              value="5,275,445,15">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>

</plugin>
