<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="OntoUML"
            class="OntoUML.OntoUMLPackage"
            genModel="model/OntoUML.genmodel"/>
   </extension>
 
   <extension point="org.eclipse.emf.ecore.extension_parser">
	  <?gmfgen generated="false"?>
      <parser
      		type="ontouml"
      		class="OntoUML.util.OntoUMLResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="false"?>
      <parser
            type="ontouml_diagram"
            class="OntoUML.util.OntoUMLResourceFactory">
      </parser>
   </extension>
</plugin>
